



<% if @ratings.empty? %>
    Help us to rate beers!
<% else %>
    <h3>Best three breweries based on ratings </h3><br>
    <%= render partial: 'breweries/list', locals: {breweries: @top_breweries} %>

    <h3>Best three beers based on ratings </h3><br>
    <%= render partial: 'beers/list', locals: {beers: @top_beers} %>

    <h3>Last five ratings</h3><br>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Beer name</th>
        <th>Score</th>
        <th>Rate given by</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @last_five.each do |r| %>
          <tr>
            <td><%= r.beer.name%></td>
            <td><%= r.score%></td>
            <td><%= link_to r.user.username, user_path(r.user_id) %></td>
          </tr>
      <% end %>
      </tbody>

    </table>



    <h3>Best three styles</h3><br>

    <table class="table table-hover">
      <thead>
      <tr>
        <th>Style name</th>

        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @best_styles.each do |r| %>
          <tr>
            <td><%= r.name%></td>

          </tr>
      <% end %>
      </tbody>

    </table>

    <%=pluralize( @ratings.size, 'ratings total')%><br>
<% end %><br><br>

    <%= link_to 'New Rating', new_rating_path,  class:'btn btn-primary' if current_user %>


