

<p>
  <h2><%= @brewery.name%>
    <% if not @brewery.active  %>
        <span class="label label-info">retired</span>
    <% end %></h2>

</p>

<p>
  <i>Established at <%= @brewery.year %></i>

</p>


<p>
  Number of beers:
  <%=@brewery.beers.count%>

</p>

<p>
  <% @brewery.beers.each do |beer| %>
    <td><a href="<%=beer_path(beer.id) %>"><%=beer.name%></a></td>
  <% end %>
</p>

<% if @brewery.ratings.empty? %>
    Beers has not yet been rated!
<% else %>
    Beers has <%=pluralize( @brewery.ratings.size, 'ratings')%><br>
    Average rating: <%=@brewery.average_rating%><br><br>
<% end %><br><br>


<%= edit_and_destroy_buttons(@brewery) %>|
<%= link_to 'Back', breweries_path %>
